In [223]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
from functools import reduce
from operator import add
from spacy.lang.fr.stop_words import STOP_WORDS as fr_stop
from nltk.corpus import stopwords
from collections import Counter
import spacy
from spacy.tokenizer import Tokenizer
import nltk
from nltk.tokenize import word_tokenize
from nltk import RegexpTokenizer
from os import path
#from PIL import Image
sent_detector = nltk.data.load('tokenizers/punkt/french.pickle')
nlp = spacy.load('fr_core_news_md')

In [224]:
df = pd.read_csv('interviews.csv')

In [225]:
df.Texte = df.Texte.apply(lambda x : x.replace('\xa0','').replace('\x85','').replace('\x96','').replace('\x92',"'").replace('\x80',''))

In [226]:
df= df[['Id','sexe','Prenom','Nom','Texte']]

In [227]:
df=df[8210:9789]

In [228]:
df=df.dropna()

In [229]:
df=df.reset_index()

In [232]:
text=[]
list_test=[]
for i in range(len(df)):
    text.append(df.Texte[i].replace('Q-','|Q-').replace('R-','|R-').split('|'))
    text=[x for x in text if x != '']

In [233]:
df=pd.concat([df, pd.DataFrame(zip(text),columns=['Texteclean'])], axis=1,ignore_index=False)

In [234]:
df

,index,Id,sexe,Prenom,Nom,Texte,Texteclean
0,8210,164971,1.0,Thierry,Breton,Q- Bonjour T. Breton. Les soldes commencent ce...,"[, Q- Bonjour T. Breton. Les soldes commencent..."
1,8211,164911,1.0,Bernard,Accoyer,Dans quel contexte avez-vous annoncé votre ral...,[Dans quel contexte avez-vous annoncé votre ra...
2,8212,164869,2.0,Marie-George,Buffet,"Q- ""Soumission"", dit F. Bayrou, ""humiliation"",...","[, Q- ""Soumission"", dit F. Bayrou, ""humiliatio..."
3,8213,164827,1.0,Jean-François,Cope,"Q- D. de Villepin, a annoncé hier que des mesu...","[, Q- D. de Villepin, a annoncé hier que des m..."
4,8214,164986,2.0,Christine,Lagarde,- 1ère partie -Ulysse GOSSET - Bienvenue sur F...,[- 1ère partie -Ulysse GOSSET - Bienvenue sur ...
...,...,...,...,...,...,...,...
1574,9784,147509,1.0,François,Chérèque,"Q - La CFDT lance 40 nouveaux débats pour "" éc...","[Q - La CFDT lance 40 nouveaux débats pour "" é..."
1575,9785,145424,1.0,Jean-François,Cope,"Q- Les principaux pays créanciers au monde, ré...","[, Q- Les principaux pays créanciers au monde,..."
1576,9786,144935,1.0,François,Hollande,"Q- Si le ""oui"" du Parti socialiste au prochain...","[, Q- Si le ""oui"" du Parti socialiste au proch..."
1577,9787,145954,1.0,François,Chérèque,"Q- Bonjour F. Chérèque... Hier, lors des voeux...","[, Q- Bonjour F. Chérèque... Hier, lors des vo..."
1578,9788,145950,1.0,François,Fillon,Q - A la veille de la présentation de votre lo...,[Q - A la veille de la présentation de votre l...

question=[]
reponse=[]
id_list=[]
id_text=[]
t=-1
j=0
for text in df.Texteclean:
    t=t+1
    for i in range(len(text)-1):
        if text[i].startswith('Q-'):
            question.append(text[i].replace('Q-',''))
            if text[i+1].startswith('R-'):
                reponse.append(text[i+1].replace('R-',''))
            else:
                reponse.append('')
            id_list.append(j)
            j=j+1
            id_text.append(t)

In [235]:
reponse=[]
id_list=[]
id_text=[]
j=0
for text in df.Texteclean:
    for i in range(len(text)):
        if text[i].startswith('R-'):
            reponse.append(text[i].replace('R-',''))
            id_text.append(df.Id[j])
    j=j+1

In [236]:
data_clean=pd.concat([pd.DataFrame(reponse),pd.DataFrame(id_text)],axis=1)

In [237]:
df

,index,Id,sexe,Prenom,Nom,Texte,Texteclean
0,8210,164971,1.0,Thierry,Breton,Q- Bonjour T. Breton. Les soldes commencent ce...,"[, Q- Bonjour T. Breton. Les soldes commencent..."
1,8211,164911,1.0,Bernard,Accoyer,Dans quel contexte avez-vous annoncé votre ral...,[Dans quel contexte avez-vous annoncé votre ra...
2,8212,164869,2.0,Marie-George,Buffet,"Q- ""Soumission"", dit F. Bayrou, ""humiliation"",...","[, Q- ""Soumission"", dit F. Bayrou, ""humiliatio..."
3,8213,164827,1.0,Jean-François,Cope,"Q- D. de Villepin, a annoncé hier que des mesu...","[, Q- D. de Villepin, a annoncé hier que des m..."
4,8214,164986,2.0,Christine,Lagarde,- 1ère partie -Ulysse GOSSET - Bienvenue sur F...,[- 1ère partie -Ulysse GOSSET - Bienvenue sur ...
...,...,...,...,...,...,...,...
1574,9784,147509,1.0,François,Chérèque,"Q - La CFDT lance 40 nouveaux débats pour "" éc...","[Q - La CFDT lance 40 nouveaux débats pour "" é..."
1575,9785,145424,1.0,Jean-François,Cope,"Q- Les principaux pays créanciers au monde, ré...","[, Q- Les principaux pays créanciers au monde,..."
1576,9786,144935,1.0,François,Hollande,"Q- Si le ""oui"" du Parti socialiste au prochain...","[, Q- Si le ""oui"" du Parti socialiste au proch..."
1577,9787,145954,1.0,François,Chérèque,"Q- Bonjour F. Chérèque... Hier, lors des voeux...","[, Q- Bonjour F. Chérèque... Hier, lors des vo..."
1578,9788,145950,1.0,François,Fillon,Q - A la veille de la présentation de votre lo...,[Q - A la veille de la présentation de votre l...

In [238]:
df= df[['Id','sexe']]

In [257]:
data_clean=pd.DataFrame(data_clean)

In [241]:
data_clean.columns=[['texte','Id']]

In [242]:
data_clean.dropna()
df.dropna()

          Id  sexe
0     164971   1.0
1     164911   1.0
2     164869   2.0
3     164827   1.0
4     164986   2.0
...      ...   ...
1574  147509   1.0
1575  145424   1.0
1576  144935   1.0
1577  145954   1.0
1578  145950   1.0

[1579 rows x 2 columns]

In [259]:
data_clean

                                                   texte      Id
0       C'est presque le cas parce que, comme vous le...  164971
1       ...Et l'examen aura lieu dans les deux chambr...  164971
2       ... Voilà, et le troisième mercredi pour les ...  164971
3                  Ce qui permettra aux consommateurs...  164971
4       Ça se traduira par le fait qu'entre les deux ...  164971
...                                                  ...     ...
12226   Il n'y a pas de pardon à donner, et personne ...  145954
12227   Mais vous savez, on s'est rencontrés la semai...  145954
12228   Bien évidemment... les relations entre nous s...  145954
12229   Oui, une dédicace assez fraîche, mais une déd...  145954
12230   C'est son choix.F. Chérèque était l'invité d'...  145954

[12231 rows x 2 columns]

In [264]:
df.columns=[['Id','sexe']]

In [266]:
data_clean.columns=[['texte','Id']]

In [267]:
result = pd.merge(df,
                 data_clean,
                 )

In [271]:
result.to_csv('inteviewpart.csv')

In [272]:
result

           Id sexe                                              texte
0      164971  1.0   C'est presque le cas parce que, comme vous le...
1      164971  1.0   ...Et l'examen aura lieu dans les deux chambr...
2      164971  1.0   ... Voilà, et le troisième mercredi pour les ...
3      164971  1.0              Ce qui permettra aux consommateurs...
4      164971  1.0   Ça se traduira par le fait qu'entre les deux ...
...       ...  ...                                                ...
12226  145954  1.0   Il n'y a pas de pardon à donner, et personne ...
12227  145954  1.0   Mais vous savez, on s'est rencontrés la semai...
12228  145954  1.0   Bien évidemment... les relations entre nous s...
12229  145954  1.0   Oui, une dédicace assez fraîche, mais une déd...
12230  145954  1.0   C'est son choix.F. Chérèque était l'invité d'...

[12231 rows x 3 columns]